/* Aboreto Font (Logo) */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  /* font-family: "Aboreto"; */
  font-family: 'Times New Roman', Times, serif;
}

*::selection{
  background-color: #bfbebe;
  opacity: 1 !important; 
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/* Top Container */
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background: #fff;

  position: sticky;
  z-index: 100;
  transition: top 0.4s;
}

.logo-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
  margin-top: 12px;
}

.top-logo {
  width: 200px;
  margin: auto;
  margin-bottom: 0px;
}

/* Navigations Bar */
.nav-bar {
  position: relative;
  display: block;
  position: -webkit-sticky;
}

.nav-container {
  width: 84%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-item{
  color: #1a1a1a;
  font-size: 20px;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.active, .nav-item:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}

.nav-divider {
  border: 1px solid #000;
  width: 80vw;
  opacity: 0.4;
}

/* Responsive Navigation */
.collapse-menu{
  position: absolute;
  width: 160px;
  height: 100vh;
}
.menu_icon_box{
  z-index: 2;
  width: fit-content;
  height: 27px; 
  top: calc(14vw - 16px); 
  left: 1em;
  padding: 8px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.menu_icon_box:active {
  background-color: #e1e1e1;
}

  /* Menu Icons */
  .line1 , .line2 , .line3{
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    background-color: #000;
    
    border-radius: 50px;
    transition: 0.2s;
  }
  .line3{
    width: 20px;
  }
  .active .line1{
    transform: translate(0px , 9px) rotate(45deg);
  }
  .active .line2{
    opacity: 0;
  }
  .active .line3{
    width: 30px;
    transform: translate(0px , -9px) rotate(-45deg);
  }

.side-nav{
  width: fit-content;
  height: 100vh;
  background-color: #fff;
  position: relative;
  text-align: left;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.active-side-nav{
  opacity: 1;
  border-right: 1px solid #000;
  pointer-events: fill;
  
}

.collapse-nav{
  width: 160px;
  padding-top: 28vw;
  display: flex;
  flex-direction: column;
}
.collapse-nav .nav-item{
  position:relative;
  padding: 4px 12px;
  border-radius: 4px;
  margin: 12px;
}
.collapse-nav .active{
  background-color: #e1e1e1;
}
.collapse-nav .nav-item:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}

/* Main Body */
.main-img {
  width: 80vw;
  margin-top: 1em;
  margin-bottom: 1em;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.anim-left {
  animation: fade-in-left 1s forwards;
}

.main-container {
  color: #444;
  text-align: center;
  letter-spacing: 0.06rem;
  font-family: serif;
  padding-bottom: 1em;
}

.main-container p {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 70vw;
}

.split-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.split-container p {
  margin: 1em;
}

.store-img {
  width: 100%;
  margin-bottom: 2em;
}

.about{
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  text-align: left;
  align-items:  center;
  margin-bottom: 1em;
}

.about p, h1, h3 {
  margin-left: 0;
  margin-right: 0; 
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Custom CSS for contact form */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px;

}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.submit-btn {
  color: #fff;
  font-size: 16px;
  background-color: rgb(100, 200, 240);
  padding: 16px 24px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(80, 180, 220);
}

/* Footer */
footer {
  margin-top: 1em;
  background: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer-main {
  display: flex;
  height: 10em;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.footer-divider {
  border: 1px solid #000;
  width: 100vw;
  margin: 0;
  opacity: 0.4;
}

.general-contact {
  position: relative;
  display: flex;
  height: 10%;
  width: 100vw;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;

  color: #444;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.general-contact p {
  padding: 0;
  margin: 0;
}

.copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  /* bottom: 4px; */
  margin-bottom: 0;
  align-items: center;
  justify-content: center;

  color: #444;
  font-size: 12px;
  font-weight: 100;
}

.line-spacer {
  margin-left: 12px;
  margin-right: 12px;
}

.logo-text {
  text-align: center;
  width: 50%;

  color: #444;
  font-size: 45px;
  font-family: "Aboreto";
  text-transform: uppercase;
}

.slogan {
  text-align: center;
  width: 50%;

  color: #444;
  font-size: 45px;
}

footer h6 {
  padding: 0;
  margin: 0;
}

.slogan p {
  margin: auto;
  width: 28em;
  font-size: 14px;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Main Container */
.main-container {
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* Mobile Responsive Design */
@media screen and (min-width: 750px) {
  .collapse-menu {
    display:none;
  }
}

@media screen and (max-width: 900px) {
  .about {
    width: 70vw;
  }
}

@media screen and (max-width: 750px) {
  /* Header */
  .nav-bar {
    display:none;
  }

  .logo-container,
  .top-logo {
    width: 28vw;
  }

  .main-header{
    flex-direction: row;
    border-bottom: 1px solid #000;
  }

  .menu-btn {
    display: flex;
    top: calc(14vw - 12px); 
  }

  .menu_icon_box{ 
    display: block;
  }

  /* Main */
  .about {
    width: 80vw;
  }

  /* Footer */
  .line-spacer {
    display: none;
  }

  .general-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    line-height: 28px;
  }

  .footer-main {
    display: flex;
    height: 16em;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
  }
  .logo-text{
    width: 100vw;
    margin: auto;
  }
  .slogan {
    width: 100vw;
    margin: auto;
    margin-bottom: 0;;
  }

  .slogan p {
    width: 80vw;
  }
}
