/* Aboreto Font (Logo) */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  font-family: 'Times New Roman', Times, serif;
}

*::selection{
  background-color: #bfbebe;
  opacity: 1 !important; 
}

html, body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Top Container */
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background: #fff;

  position: sticky;
  z-index: 100;
  transition: top 0.4s;
}

.logo-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
  margin-top: 1em;
}

.top-logo {
  width: 200px;
  margin: auto;
  margin-bottom: 0px;
  opacity: 0.7;
}

/* Navigations Bar */
.nav-bar {
  position: relative;
  display: block;
  position: -webkit-sticky;
}

.nav-container {
  width: 84%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-item{
  color: #1a1a1a;
  font-size: 20px;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}
.nav-item-icon{
  place-self: bottom !important;
  justify-self: flex-end !important;
}

.active, .nav-item:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}

.nav-divider, .nav-divider2 {
  border: 1px solid #000;
  width: 100vw;
  opacity: 0.4;
}

.nav-divider2{
  margin-bottom: 1em;
}

/* Responsive Navigation */
.collapse-menu{
  position: absolute;
  /* width: 160px; */
  height: 100vh;
}
.minimal-logo {
  width: 80px;
}
.menu_icon_box{
  z-index: 2;
  width: fit-content;
  height: 20px; 
  top: 50px;
  right: 5vw;
  padding: 8px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.menu_icon_box:active {
  background-color: #e1e1e1;
}

  /* Menu Icons */
  .line1 , .line2 , .line3{
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    background-color: #000;
    border-radius: 50px;
    transition: 0.2s;
  }

.side-nav{
  width: 100vw;
  height: 70vh;
  background-color: #fff;
  /* position: relative; */
  text-align: center;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

}

.active-side-nav{
  opacity: 1;
  border-right: 1px solid #000;
  pointer-events: fill;
  
}

.collapse-nav{
  width: 100vw;
  padding-top: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.collapse-nav .nav-item{
  position:relative;
  text-align: center;
  width: 50%;
  padding: 0.5em 1em;
  border-radius: 4px;
  margin: 0.2em;
}
.collapse-nav .active{
  background-color: #e1e1e1;

}
.collapse-nav .nav-item:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}

/* Main Body */
p, h2, h4 {
  margin: 0;
  margin-bottom: 1em;
}

p {
  font-size: 20px;
}
h5 {
  font-size: 24px;
}
h4 {
  font-size:28px;
}
h3 {
  font-size: 32px;
}

h2 {
  font-size: 36px;
  margin: auto;
}

.general-slideshow {
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 40vw;
  background-color: #000;
}

.overlay-slogan{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 28%;
  z-index: 2;

  text-transform: uppercase;
  color: white;
  font-size: 6.8vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  opacity: 0.6 !important;
}

.main-container {
  color: #444;
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.main-container p {
  margin: auto;
  margin-bottom: 1em;
}

.general-desc {
  margin-top: 1em;
  margin-bottom: 0;
  text-align: justify;
}

.center {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  width: 70vw;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  width: 80vw;
}

.split-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.split-container p {
  margin-top: 1em;
  margin-bottom: 0;
}

.store-img {
  width: 100%;
}

.store-btn {
  color: #a1a1a1;
  font-size: 16px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 16px;
  border: solid 1px #a1a1a1;
  cursor: pointer;
  margin-top: 1em;
}

.store-btn:hover {
  color: #1a1a1a;
  background-color: #a1a1a1;
  border: solid 1px #1a1a1a;
}

.main-text{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  text-align: justify;
  /* text-justify: inter-word;
  align-items:  justify; */
  margin-bottom: 0;
  gap: 1em;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-content: space-around;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  width: 18vw;
}

.menu-item p {
  margin-top: 1em;

}

.promotional {
  margin-top: 1em !important;
}

.store-location {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1em;
}

.store-location p,
.store-location h3{
  margin: 0;
}

.store-location h3 {
  margin-top: 1em;
}

/* Footer */
footer {
  background: #d4d4d4;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer-main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1em;
}

.footer-divider {
  border: 1px solid #000;
  width: 100vw;
  margin: 0;
  opacity: 0.4;
}

.general-contact {
  position: relative;
  display: flex;
  height: 10%;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;

  color: #444;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.general-contact p {
  padding: 0;
  margin: 0;
}

.copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-top: 1em;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;

  color: #444;
  font-size: 1em;
  font-weight: 100;
}

.line-spacer {
  margin-left: 1em;
  margin-right: 1em;
}

.logo-text-container {
  text-align: right;
  display: flex;
  margin: auto;
  width: 50%;
}

.logo-text {
  margin: auto;
  width: 80%;
  color: #444;
  font-size: 45px;
  font-family: "Aboreto";
  text-transform: uppercase;
}

.slogan {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;

  color: #444;
  font-size: 45px;
}

footer h6 {
  padding: 0;
  margin: auto;
  margin-bottom: 0;
  width: 80%;
}

.slogan p {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  width: 80%;
  font-size: 16px;
}

.social-icons {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: left;
  width: 80%;
  font-size: 20px;
}

.social-icons svg{
  margin-right: 1em;
}

.social-icon {
  color: #444;
}
.social-icon:hover{
  color: #222;
  margin: none;
  padding: none;
}

.anim-left {
  animation: fade-in-left 1s forwards;
}

.fade-in {
  animation: fade-in 1s forwards
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Contact Form */
.container {
  margin: 1em;
  margin-bottom: 0;
  width: 50vw;
}

.form-label {
  font-weight: bold;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.btn {
  display: flex;
  width: 50vw;
  align-self: center;
  justify-content: center;
  color: #a1a1a1;
  font-size: 16px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 16px;
  border: solid 1px #a1a1a1;
  cursor: pointer;
  margin-top: 1em;
}

.btn:hover {
  color: #1a1a1a;
  background-color: #a1a1a1;
  border: solid 1px #1a1a1a;
}

/* Mobile Responsive Design */
@media screen and (min-width: 750px) {
  .collapse-menu {
    display:none;
  }
}

@media screen and (max-width: 750px) {
  h2, h4, h6, p {
    text-align: center;
  }

  /* Header */
  .nav-bar {
    display:none;
  }

  .logo-container,
  .top-logo {
    width: 120px;
  }

  .main-header{
    flex-direction: row;
    border-bottom: 1px solid #000;
  }

  .menu-btn {
    display: flex;
  }

  .menu_icon_box{ 
    display: block;
  }

  /* Main */
  .main-container {
    margin-top: 1em;
  }

  .wrapper,
  .wrapper2 {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0 !important;
    width: 80vw;
  }
  
  .split-container {
    width: 100%;
  }
  
  .store-img {
    width: 100%;
  }

  .menu-item {
    width: 32vw;
  }

  /* Footer */
  .line-spacer {
    display: none;
  }

  .general-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    line-height: 28px;
  }

  .footer-main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    margin-top: 1em;
  }

  .social-icons {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .logo-text-container {
    text-align: center;
    width: 80%;
  }

  .logo-text{
    width: 100vw;
    margin: auto;
  }
  .slogan {
    width: 100vw;
    margin: auto;
    margin-bottom: 0;;
  }

  .slogan p {
    width: 80vw;
  }
}
