/* Aboreto Font (Logo) */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  font-family: 'Times New Roman', Times, serif;
}

*::selection{
  background-color: #bfbebe;
  opacity: 1 !important; 
}

html, body {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* General Texts */
p, h6, h5, h4, h3, h2, h1 {
  padding: 0 !important;
  margin: 0 !important;
  color: #444;
  text-align: center !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Aboreto";
}
p {font-size: 18px;}
h6 {font-size: 20px;}
h5 {font-size: 24px;}
h4 {font-size: 28px;}
h3 {font-size: 32px;}
h2 {font-size: 50px;}
h1 {font-size: 100px;}

/* Social Icons */
.social-icons {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 0;
  font-size: 20px;
  gap: 20px
}
.social-icon {
  color: #444;
}
.social-icon:hover{
  color: #222;
  margin: none;
  padding: none;
}

/* Buttons */
.general-btn {
  width: 180px;
  height: 50px;
  background: none;
  border: solid 2px #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.general-btn a{
  text-decoration: none;
  color: #444;
  font-size: 18px;
  font-weight: 600;
}

/* Scrollbar */
#scrollbar::-webkit-scrollbar {
  width: 12px;
}
#scrollbar::-webkit-scrollbar-track {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
#scrollbar::-webkit-scrollbar-thumb {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #444;
}

/* Logo */
.logo-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
  margin-top: 1em;
}
.top-logo {
  width: 200px;
  margin: auto;
  margin-bottom: 0px;
  opacity: 0.7;
}

/* Headers */
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background: #fff;

  position: sticky;
  z-index: 100;
  transition: top 0.4s;
}
.nav-container {
  width: 84%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.nav-bar {
  position: relative;
  display: block;
  position: -webkit-sticky;
}
.nav-item{
  color: #1a1a1a;
  font-size: 20px;
  text-decoration: none;
  margin: 0 1em;
  cursor: pointer;
}
.nav-item-icon{
  place-self: bottom !important;
  justify-self: flex-end !important;
}
.active, .nav-item:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
.nav-divider, .nav-divider2 {
  border: 1px solid #000;
  width: 80vw;
  opacity: 0.4;
}
.nav-divider2{
  margin-bottom: 8px;
}

/* Responsive Header */
.collapse-menu{
  position: absolute;
  height: fit-content;
}
.collapse-nav{
  background: #fff;
  width: 100vw;
  border-top: 1px solid #000;
  margin-top: 115px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.collapse-nav .nav-item{
  position:relative;
  text-align: center;
  width: 50%;
  padding: 0.5em 1em;
}
.collapse-nav .active{
  background-color: #e1e1e1;
}
.collapse-nav .nav-item:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}
.menu_icon_box{
  z-index: 2;
  width: fit-content;
  height: 20px; 
  top: 50px;
  right: 5vw;
  padding: 8px;
  position: absolute;
  cursor: pointer;
  display: none;
}
.menu_icon_box:active {
  background-color: #e1e1e1;
}
  .line1 , .line2 , .line3{
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    background-color: #000;
    transition: 0.2s;
  }
.top-nav{
  width: 100vw;
  background-color: #fff;
  /* position: relative; */
  text-align: center;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

}
.active-top-nav{
  opacity: 1;
  border-bottom: 1px solid #000;
  pointer-events: fill;
  
}

/* Main Body */
.main-container {
  color: #444;
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* index */
.wrapper1, .wrapper2{
  width: 100%;
  margin: 40px 0;
}
.wrapper2 {
  background-color: #D8D8D8;
}
.hero-cover {
  display: flex;
  margin: auto;
  width: 80vw;
  height: 40vw;
  background-color: #000;
  position: relative;
  justify-content: center;
}

.overlay-slogan{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 28%;
  z-index: 2;

  text-transform: uppercase;
  color: white;
  font-size: 6.8vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  opacity: 0.6 !important;
}

/* about */
.row {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  gap: 20px;
  align-items: center;
}
.column{
  width: 80vw;
  height:100%;
  display: flex;
  margin: 40px auto;
  flex-direction: row;
  gap: 40px;
}
.column-item{
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.split70 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.split30 {
  width: 30%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
.split30 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* products */
.menu-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-content: space-around;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.menu-item {
  display: flex;
  flex-direction: column;
  width: 18vw;
}
.menu-item p {
  margin: 20px auto !important;
}



/* ========== */
/* ================*/
/* ======================== */
/* ==============================*/
/* ==================================*/
/* ====================================== */


.store-location {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1em;
}
.store-location p,
.store-location h3{
  margin: 0;
}
.store-location h3 {
  margin-top: 1em;
}

/* ====================================== */
/* =================================*/
/* ===========================*/
/* =================== */
/* =========== */
/* ===== */


/* Footer */
footer {
  background: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.footer-main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 40px auto;
}
.footer-container,
.footer-container2 {
  width: 50%;
  max-width: 400px;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  color: #444;
  font-size: 45px;
}
.footer-divider {
  border: 1px solid #000;
  width: 100vw;
  margin: 0;
  opacity: 0.4;
}
.general-contact {
  position: relative;
  display: flex;
  height: 10%;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
  color: #444;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}
.line-spacer {
  margin-left: 1em;
  margin-right: 1em;
}
.copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;

  color: #444;
  font-size: 1em;
  font-weight: 100;
}

footer h6 {
  padding: 0;
  margin: auto;
  margin-bottom: 0;
  width: 80%;
}

/* Animations */
/* .fade-in {
  animation:  1s forwards
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* Contact Form */
.container {
  margin: 1em;
  margin-bottom: 0;
  width: 50vw;
}

.form-label {
  font-weight: bold;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.btn {
  display: flex;
  width: 50vw;
  align-self: center;
  justify-content: center;
  color: #a1a1a1;
  font-size: 16px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 16px;
  border: solid 1px #a1a1a1;
  cursor: pointer;
  margin-top: 1em;
}

.btn:hover {
  color: #1a1a1a;
  background-color: #a1a1a1;
  border: solid 1px #1a1a1a;
}

/* Mobile Responsive Design */
@media screen and (min-width: 850px) {
  .collapse-menu {
    display:none;
  }
}

@media screen and (max-width: 850px) {
  /* Header */
  .nav-bar {
    display:none;
  }
  .logo-container,
  .top-logo {
    width: 120px;
  }
  .main-header{
    flex-direction: row;
    border-bottom: 1px solid #000;
  }
  .menu_icon_box{ 
    display: block;
  }  
  .menu-item {
    width: 32vw;
  }

  /* Main */
  .column {
    flex-direction: column;
  }
  .split70{
    margin-bottom: 0;
    width: 100%;
  }
  .split30 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 0;
  }
  .split30 img {
    width: 33%;
    margin: 0;
    height: 400px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  /* Footer */
  .footer-container,
  .footer-container2 {
    align-items: center;
    width: 80vw;
  }
  .footer-container2 {
    flex-direction: column-reverse;
  }
  .footer-main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  .general-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    line-height: 28px;
  }
  .line-spacer {
    display: none;
  }
}
