@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Monserrat", sans-serif;
}

*::selection{
  background-color: #bfbebe;
  opacity: 1 !important; 
}

html, body {
  margin: 0;
}

/* Top Container */
.top-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;  
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 0px;
  align-self: flex-start;
}

.icon-container {
  position: absolute;
  top: 88px;
  height: 40px;
  right: 10vw;
  display: inline-block;
}

.top-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.top-icon:hover {
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.nav-container {
  width: 80%;
  height: 20%;
  display: inline-block;
  text-align: center;
}

.nav-item{
  color: #3a3a3a;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.active, .nav-item:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}

hr {
  border: 1px solid #000;
  width: 80vw;
}